@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
$font-family-base: "Nunito Sans", sans-serif;
$secondary: blue;

@import "../node_modules/bootstrap/scss/bootstrap";
.navbar-brand {
  .NavLogo {
    width: 20%;
  }
  margin-right: 0%;
  width: 80%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  align-items: right;
}

.container {
  .container-script {
    margin: 2% auto;
    width: 80%;
  }
  .container-card {
    display: flex;
    .card {
      .card-img-top {
        width: 20%;
        margin: 5% auto;
      }
      .card-body {
        .btn {
          margin: 0% auto;
        }
      }
      border: 0px;
      margin: 1% 1%;
    }
    margin: 2% auto;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .container-perfil {
    .row {
      .col-1-o {
        .perfil-nombre {
          color: #0066ad;
          font-size: 55px;
          font-weight: 600;
        }
        .perfil-texto {
          font-size: 30px;
          font-weight: 400;
          color: #0066ad;
        }

        width: 70%;
      }
      .col-2-o {
        .perfil-imagen {
          width: 100%;
          display: block;
          margin-top: 40%;
          margin-bottom: 20%;
          margin-left: auto;
          margin-right: auto;
        }
        width: 100% - 70%;
      }
    }
    .card-perfil-mobile {
      display: none;
    }
    .perfil-conocimiento {
      .Perfil-conocmiento-row {
        .col-1 {
          width: 25%;
        }
        .col-2 {
          width: 25%;
        }
        .col-3 {
          width: 25%;
        }
        .col-4 {
          width: 25%;
        }

        h4 {
          font-weight: 700;
        }

        .perfil-conocimiento-icono {
          width: 30%;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        display: flex;
      }
      color: #0066ad;
      font-size: 38px;
      font-weight: 600;
      width: 100%;
    }
    margin-top: 10%;
  }
  .empresas {
    .row {
      .col-1 {
        width: 33.33%;
      }
      .col-2 {
        width: 33.33%;
      }
      .col-3 {
        width: 33.33%;
      }
      .empresas-imagen {
        margin: 10%;
        width: 50%;
        align-items: center;
      }

      display: flex;
    }
    margin-top: 10%;
    margin-bottom: 5%;
    color: #0066ad;
    font-size: 40px;
    font-weight: 500;
  }
}

@media screen and (max-width: 980px) {
  .navbar {
    .navbar-brand {
      padding-right: 0%;
      .NavLogo {
        width: 50%;
      }
      width: 80%;
    }
  }
  .container {
    .container-script {
      margin: 15% auto;
      width: 80%;
    }
    .container-card {
      .card-img-top {
        margin-bottom: 0%;
        width: 50%;
      }
      .card {
      }
      .card-title {
        margin-bottom: 0.5%;
      }
      .card-body {
        h5 {
          font-size: 16px;
          color: #0066ad;
        }
        p {
          font-size: 10px;
        }
        padding-top: 0%;
      }
    }
    .container-perfil {
      .perfil-nombre {
        display: none;
      }
      .perfil-texto {
        display: none;
      }
      .col-1-o {
        display: none;
      }
      .col-2-o {
        display: none;
      }
      .card-perfil-mobile {
        .card-body {
          .card-nombre {
            color: #0066ad;
            font-weight: 600;
          }
          .card-text {
            color: #0066ad;
            line-height: 20px;
          }
        }
        img {
          width: 50%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 5%;
          background: rgba(255, 255, 255, 0.25);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
          border-radius: 100%;
          border: 1px solid rgba(255, 255, 255, 0.18);
        }
        margin: 0%;
        display: block;
      }
      .perfil-conocimiento {
        .Perfil-conocmiento-row {
          .col-1 {
            width: 25%;
          }
          .col-2 {
            width: 25%;
          }
          .col-3 {
            width: 25%;
          }
          .col-4 {
            width: 25%;
          }

          h4 {
            font-size: 15px;
            font-weight: 600;
          }

          .perfil-conocimiento-icono {
            width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }
        font-size: 20px;
        font-weight: 600;
        padding-left: 1.5%;
      }
      margin-top: 10%;
    }
    .empresas {
      font-size: 20px;
      .row {
        .empresas-imagen {
          width: 70%;
        }
      }
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 102, 173);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #1e93e4;
  font-weight: 600;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: rgb(4, 85, 143);
}
.navbar-light .navbar-toggler {
  color: rgb(0, 102, 173);
  border-color: rgba(0, 0, 0, 0.1);
}
